h1, h2, h3, h4, h5, h6, /* ul, */ p {
  margin: 0 auto;
}

* {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.unlikely {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.sections {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}

.vissual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
