.menu-btn {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 0 0 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @include tablet {
    display: none;
  }
}

.menu-btn:focus svg,
.menu-btn:hover svg {
  fill: $accent-color;
}

svg.svg-menu {
  width: 48px;
  height: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  padding-left: 40px;

  transform: translatex(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mobile.is-open {
  transform: translatex(0);
}

.menu-btn.js-close-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 15px;
}
.menu-btn-svg {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $color-text;
}

.menu-link {
  color: $color-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:focus {
  color: $accent-color;
}

.menu-link-first {
  margin: 48px 0px 35px 0;
}

.menu-link-second {
  margin-bottom: 32px;
}

.menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;
  margin-bottom: 32px;
}

.menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $color-p;
}

.modal-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.menu-social-link {
  color: $accent-color;
}

.menu-social-item:not(:first-child) {
  border-left: 1px solid #21212133;
  padding-left: 10px;
}
.menu-social-item:not(:last-child) {
  padding-right: 10px;
}
