.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-bgc;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: $color-p;
  margin-top: 10px;
  margin-bottom: 4px;
}

.form-fild {
  display: flex;
  flex-direction: column;
}
.input-wrap {
  position: relative;
}

.form-fild input {
  height: 40px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  height: 609px;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px $modal-bgc;
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include desktop {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.close-modal {
  position: absolute;
  border: 1px solid $color-p;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 8px;
  top: 8px;
  background-color: $color-white;
}

.close-modal:hover,
.close-modal:focus svg {
  fill: $accent-color;
}

.svg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-img-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: $color-text;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coments textarea {
  resize: none;
  margin-bottom: 20px;
  height: 120px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: $color-p;
  display: flex;
  align-items: center;
  @include desktop {
    font-size: 14px;
  }
}

.agree-link {
  color: $accent-color;
  text-decoration: underline;
  margin-left: 4px;
}

.btn-mjoin {
  width: 200px;
  height: 50px;
  border-radius: 4px;

  background-color: $accent-color;
  color: $color-white;
  border: none;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.form-fild:focus-within textarea,
.form-fild:focus-within input {
  border: 1px solid $accent-color;
}
.form-fild:focus-within svg {
  fill: $accent-color;
}

.svg-modal-check {
  fill: $color-white;
}

.agree-fild {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-hidden:checked + .icon {
  border-color: $accent-color;
  background-color: $accent-color;
}

.icon {
  width: 15px;
  height: 15px;
  border: 2px solid $color-text;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  background-origin: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
